@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --radius-md: calc(0.5rem - 2px);
    --radius-sm: calc(0.5rem - 4px);
  }

  .dark,
  .dark-theme {
    --background: 240, 2%, 5%;
    --foreground: 240, 10%, 90%;
    --card: 240, 2%, 7%;
    --card-foreground: 240, 10%, 90%;
    --popover: 240, 2%, 7%;
    --popover-foreground: 240, 10%, 90%;
    --primary: 135, 67.6%, 53.3%;
    --primary-foreground: 240, 2%, 5%;
    --secondary: 135, 67.6%, 47.5%;
    --secondary-foreground: 240, 10%, 90%;
    --muted: 240, 2%, 14%;
    --muted-foreground: 240, 5%, 65%;
    --accent: 135, 40%, 60%;
    --accent-foreground: 240, 2%, 5%;
    --destructive: 0, 62.8%, 30.6%;
    --destructive-foreground: 240, 10%, 90%;
    --border: 240, 2%, 18%;
    --input: 240, 2%, 22%;
    --ring: 224.3, 76.3%, 48%;
  }
}

@layer base {
  .remove-bg {
    mix-blend-mode: multiply;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
label,
select,
textarea,
div,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
caption,
header,
footer,
section,
article,
aside,
nav,
main,
address,
blockquote,
pre,
code,
kbd,
samp,
var,
cite,
abbr,
acronym,
q,
dfn,
small,
strong,
em,
i,
b,
u,
s,
strike,
tt,
big,
sub,
sup,
bdo,
br,
hr,
wbr,
img,
iframe,
embed,
object,
param,
video,
audio,
source,
track,
canvas,
map,
area,
svg,
math,
table,
caption,
colgroup,
col,
tbody,
thead,
tfoot,
tr,
th,
td,
button,
input,
select,
textarea,
label,
fieldset,
legend,
datalist,
optgroup,
option,
output,
progress,
meter,
details,
summary,
menuitem,
menu {
  @apply antialiased font-inter;
}
