.fc-media-screen {
    border-radius: var(--radius-md);
}

.fc-header-toolbar {
    display: none !important;
}

.fc-scrollgrid {
    border-radius: var(--radius-md);
}

.fc-col-header-cell {
    padding: 0.4rem 0rem !important;
}

.fc-theme-standard td {
    border-radius: var(--radius-md);
    border-top-right-radius: 0;
}

.fc-theme-standard th {
    border-radius: var(--radius-md);
    border-bottom-right-radius: 0;
}

.fc-day-today {
    background-color: transparent !important;
}

.fc-day-today .fc-daygrid-day-number {
    background-color: hsla(var(--accent-foreground));
    color: hsla(var(--accent));
    border-radius: 100%;
}

.fc-daygrid-day-number {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.fc-event {
    cursor: pointer;
}